fastapi
uvicorn
langchain
langgraph
langchain-aws
langchain-community
langchain-tavily
python-dotenv

pydantic
requests
httpx
aiodns
apscheduler
sqlalchemy
psycopg2-binary
firebase-admin
pytz
python-docx
beautifulsoup4

# Attachment Relevance Checker
pdfplumber
pytesseract
Pillow
numpy
python-multipart
playwright

# Scheduler Agent — Google Calendar
google-api-python-client
google-auth
google-auth-oauthlib

# Email Security Agent
vt-py


# PPT from JSON or prompt
ddgs

langchain-core
python-pptx
boto3

